<main>
    <section class="form-section">
        <img src="/svg/logo.svg" alt="logotipo">
        <h2>Welcome</h2>

        <div class="btn-wrapper">
            <button class="btn-login">Login Now</button>
        <div>
            <span>or</span>
        </div>
        <button class="btn-signUp">Signup Now</button>
        </div>
        
    </section>

    <section class="main-section">
        <h2>You should, Move it</h2>
        <img src="/svg/main-illustration.svg" alt="Garoto no skate">
    </section>
</main>